<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<title>Buy4me</title>
</head>
<body>
	<div class="container-fluid menu" id="menu">
		<div class="row">
			<p class="col-md-6"></p>
			<p class="col-md-2">Login</p>
			<p class="col-md-2">Cadastre-se</p>
			<p class="col-md-2">Carrinho</p>
		</div>
		<div class="navbar-title text-center">
			<h1>Buy<span>4</span>Me</h1>
		</div>
		<nav class="text-center">
			<a href="feminino.html">Feminino</a>
			<a href="masculino.html">Masculino</a>
			<a href="infantil.html">Infantil</a>
			<a href="sapatos.html">Sapatos</a>
			<a href="novos.html">Novos</a>
			<a href="usados.html">Usados</a>
		</nav>
		<!-- <input type="text" name="" placeholder="Buscar" class="form-control col-md-12"> -->
	</div>
	<div class="row">
	<!-- <embed class="col-md-12" type="text/html" src="footer.html"> -->
	</div>
</body>
</html>