<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<script type="text/javascript" src="../node_modules/include-tag/dist/includeTag.browser.js"></script>

		<title>Buy4Me</title>

</head>
<body>

	<div class="container-fluid row" ng-controller="appController">

		<include src="header.html"></include>

		<div class="col-md-4">
			<img src="">
			<p>Titulo</p>
			<p>Descricao</p>
			<p>Preco</p>
		</div>

		<div class="col-md-4">
			<img src="">
			<p>Titulo</p>
			<p>Descricao</p>
			<p>Preco</p>
		</div>

		<div class="col-md-4">
			<img src="">
			<p>Titulo</p>
			<p>Descricao</p>
			<p>Preco</p>
		</div>

	</div>

</body>
</html>
